body{
    background: #d3d3d3;
}

tr:nth-child(odd) {
   background-color: white;
}

table, th, td {

    border: 1px solid black;
}

td {
    width: 140px;
    height: 100px;
    text-align: center;
}

p {
    font-weight: bold
}

label {
font-style: italic;
width: 100%;
float: right;
}

.btn-primary
{
margin-right: 5px;
margin-bottom: 5px !important;
}

#planetName, #planetVotes{
    height: 50px
}

.footer {
    background: black;
    color: white;
}
