<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login page</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/display_template.css">
    </head>
    <body>
        <h1>Login page</h1>
        {% if not valid_login %}
            <div id="error_message">
                <font size="3" color="red">Invalid username or password!</font>
            </div>
        {% endif %}
        <form action="/login" method="POST">
            <p>
                <div class="login-input">
                    <label class="login" for="username">User name</label><br>
                    <input name="username" type="text" maxlength="15"  required placeholder="username...">
                </div>
            </p>
            <p>
                <div class="login-input">
                    <label class="login" for="password">Password</label><br>
                    <input name="password" type="password" maxlength="10"  required placeholder="password...">
                </div>
            </p>
            <p>
                <abbr title="Login"><button id="login_button" type="submit">Login</button></abbr>
            </p>
        </form>
        <a id="back"href="/"><abbr title="Back to the question page"><img src="static/leftarrow.png" width="30" height="30" alt="Back"></abbr></a>
    </body>
</html>