<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/display_template.css')}}">
    <head>
        <meta charset="utf-8">
        <title>New user registration</title>
    </head>
    <body>
            <h1>Register new user</h1>
                <form action="/registration" method="post">
                    {% if not new_user %}
                    <p>
                        <font size="3" color="red">User already exists!</font>
                    </p>
                    {% endif %}
                    <p>
                        <div class="register-input">
                            <label for="user_name">User name</label><br>
                            <input name="user_name" maxlength=15 required placeholder="username...">
                        </div>
                    </p>
                    <p>
                        <div class="register-input">
                            <label for="password">Password</label><br>
                            <input name="password" type="password" maxlength=10 required placeholder="password...">
                        </div>
                    </p>
                    <p>
                        <abbr title="Register user"><button type="submit">Register</button></abbr>
                    </p>
                </form>
                <a id="back"href="/"><abbr title="Back to the question page"><img src="static/leftarrow.png" width="30" height="30" alt="Back"></abbr></a>

    </body>
</html>
